<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_rover">
    
    <joint name='world_joint' type='fixed'>
        <parent link='world'/>
        <child link='chassis'/>
        <origin xyz='0 0 0'/>
    </joint>

    <link name='chassis'>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${chassis_length} ${chassis_width} ${chassis_height}'/>
            </geometry>
            <material name='blue'>
                <color rgba='0.2 0.2 1.0 1.0'/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${chassis_length} ${chassis_width} ${chassis_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value='10'/>
            <xacro:box_inertia m="10" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}"/>
        </inertial>
    </link>

    

</robot>