<?xml version="1.0"?>

<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='my_rover'>    

    <xacro:property name='chassis_length' value='1.25'/>
    <xacro:property name='chassis_width' value='1'/>
    <xacro:property name='chassis_height' value='0.5'/>
    <xacro:property name='chassis_suspension_rod_length' value='0.05'/>
    <xacro:property name='chassis_suspension_rod_radius' value='0.02'/>
    <xacro:property name='suspension_rod_length' value='1'/>
    <xacro:property name='suspension_rod_radius' value='0.02'/>

</robot>