<?xml version="1.0"?>

<robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='my_rover'>    

    <xacro:property name='chassis_length' value='1.25'/>
    <xacro:property name='chassis_width' value='1'/>
    <xacro:property name='chassis_height' value='0.5'/>
    <xacro:property name='chassis_suspension_rod_length' value='0.1'/>
    <xacro:property name='chassis_suspension_rod_radius' value='0.02'/>
    <xacro:property name='suspension_rod_length' value='${sqrt((chassis_length/2)**2 + (chassis_height/2)**2)}'/>
    <xacro:property name='suspension_rod_radius' value='0.02'/>
    <xacro:property name='wheel_base_length' value='0.065'/>
    <xacro:property name='wheel_base_radius' value='0.065'/>
    <xacro:property name='wheel_steer_length' value='0.085'/>
    <xacro:property name='wheel_steer_width' value='0.07'/>
    <xacro:property name='wheel_steer_height' value='0.02'/>
    <xacro:property name='wheel_steer_to_wheel_length' value='0.04'/>
    <xacro:property name='wheel_steer_to_wheel_width' value='0.07'/>
    <xacro:property name='wheel_steer_to_wheel_height' value='0.15'/>
    <xacro:property name='wheel_lenght' value='0.65'/>
    <xacro:property name='wheel_radius' value='${wheel_steer_to_wheel_height*0.9}'/>

</robot>