<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_rover">

    <link name='wheel-base'>
        <visual>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:cylinder_inertia m="1" r="${wheel_base_radius}" h="${wheel_base_length}"/>
        </inertial>
    </link>
    
    <link name='wheel-base_2'>
        <visual>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:cylinder_inertia m="1" r="${wheel_base_radius}" h="${wheel_base_length}"/>
        </inertial>
    </link>

    <link name='wheel-base_3'>
        <visual>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:cylinder_inertia m="1" r="${wheel_base_radius}" h="${wheel_base_length}"/>
        </inertial>
    </link>

    <link name='wheel-base_4'>
        <visual>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <geometry>
                <cylinder radius='${wheel_base_radius}' length='${wheel_base_length}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 ${-wheel_base_length/3}' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:cylinder_inertia m="1" r="${wheel_base_radius}" h="${wheel_base_length}"/>
        </inertial>
    </link>

    <joint name='wheel_base_joint' type='fixed'>
        <parent link='suspension_rod'/>
        <child link='wheel-base'/>
        <origin xyz='0 0 ${suspension_rod_length}' rpy='${-pi/2 - atan2(chassis_height/2 ,chassis_length/2)} 0 0'/>
    </joint>

    <joint name='wheel_base_2_joint' type='fixed'>
        <parent link='suspension_rod_2'/>
        <child link='wheel-base_2'/>
        <origin xyz='0 0 ${suspension_rod_length}' rpy='${-pi/2 - atan2(chassis_height/2 ,chassis_length/2)} 0 0'/>
    </joint>

    <joint name='wheel_base_3_joint' type='fixed'>
        <parent link='suspension_rod_3'/>
        <child link='wheel-base_3'/>
        <origin xyz='0 0 ${suspension_rod_length}' rpy='${-pi/2 - atan2(chassis_height/2 ,chassis_length/2)} 0 0'/>
    </joint>

    <joint name='wheel_base_4_joint' type='fixed'>
        <parent link='suspension_rod_4'/>
        <child link='wheel-base_4'/>
        <origin xyz='0 0 ${suspension_rod_length}' rpy='${-pi/2 - atan2(chassis_height/2 ,chassis_length/2)} 0 0'/>
    </joint>

    <link name='wheel_steer'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_length}" y="${wheel_steer_width}" z="${wheel_steer_height}"/>
        </inertial>
    </link>

    <link name='wheel_steer_2'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_length}" y="${wheel_steer_width}" z="${wheel_steer_height}"/>
        </inertial>
    </link>
    <link name='wheel_steer_3'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_length}" y="${wheel_steer_width}" z="${wheel_steer_height}"/>
        </inertial>
    </link>

    <link name='wheel_steer_4'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
            <material name='gray'>
                <color rgba='0.5 0.5 0.5 1.0'/>
            </material>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_length} ${wheel_steer_width} ${wheel_steer_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_length}" y="${wheel_steer_width}" z="${wheel_steer_height}"/>
        </inertial>
    </link>

    <joint name='wheel_steer_joint_1' type='revolute'>
        <parent link='wheel-base'/>
        <child link='wheel_steer'/>
        <origin xyz='0 0 ${-2*wheel_base_length/3 - wheel_steer_height/2}' rpy='0 0 0'/>
        <axis xyz='0 0 1'/>
        <limit lower='-1.57' upper='1.57' effort='1000' velocity='1'/>
    </joint>

    <joint name='wheel_steer_joint_2' type='revolute'>
        <parent link='wheel-base_2'/>
        <child link='wheel_steer_2'/>
        <origin xyz='0 0 ${-2*wheel_base_length/3 - wheel_steer_height/2}' rpy='0 0 0'/>
        <axis xyz='0 0 1'/>
        <limit lower='-1.57' upper='1.57' effort='1000' velocity='1'/>
    </joint>

    <joint name='wheel_steer_joint_3' type='revolute'>
        <parent link='wheel-base_3'/>
        <child link='wheel_steer_3'/>
        <origin xyz='0 0 ${-2*wheel_base_length/3 - wheel_steer_height/2}' rpy='0 0 0'/>
        <axis xyz='0 0 1'/>
        <limit lower='-1.57' upper='1.57' effort='1000' velocity='1'/>
    </joint>

    <joint name='wheel_steer_joint_4' type='revolute'>
        <parent link='wheel-base_4'/>
        <child link='wheel_steer_4'/>
        <origin xyz='0 0 ${-2*wheel_base_length/3 - wheel_steer_height}' rpy='0 0 0'/>
        <axis xyz='0 0 1'/>
        <limit lower='-1.57' upper='1.57' effort='1000' velocity='1'/>
    </joint>
    
    <link name='wheel_steer_to_wheel'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_to_wheel_length}" y="${wheel_steer_to_wheel_width}" z="${wheel_steer_to_wheel_height}"/>
        </inertial>
    </link>

    <link name='wheel_steer_to_wheel_2'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_to_wheel_length}" y="${wheel_steer_to_wheel_width}" z="${wheel_steer_to_wheel_height}"/>
        </inertial>
    </link>

    <link name='wheel_steer_to_wheel_3'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_to_wheel_length}" y="${wheel_steer_to_wheel_width}" z="${wheel_steer_to_wheel_height}"/>
        </inertial>
    </link>

    <link name='wheel_steer_to_wheel_4'>
        <visual>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </visual>
        <collision>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <geometry>
                <box size='${wheel_steer_to_wheel_length} ${wheel_steer_to_wheel_width} ${wheel_steer_to_wheel_height}'/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz='0 0 0' rpy='0 0 0'/>
            <mass value='1'/>
            <xacro:box_inertia m="1" x="${wheel_steer_to_wheel_length}" y="${wheel_steer_to_wheel_width}" z="${wheel_steer_to_wheel_height}"/>
        </inertial>
    </link>

    <joint name='wheel_steer_to_wheel_joint_1' type='fixed'>
        <parent link='wheel_steer'/>
        <child link='wheel_steer_to_wheel'/>
        <origin xyz='0.5 0.35 1' rpy='0 0 0'/>
    </joint>

    <joint name='wheel_steer_to_wheel_joint_2' type='fixed'>
        <parent link='wheel_steer_2'/>
        <child link='wheel_steer_to_wheel_2'/>
        <origin xyz='0 0 0' rpy='0 0 0'/>
    </joint>

    <joint name='wheel_steer_to_wheel_joint_3' type='fixed'>
        <parent link='wheel_steer_3'/>
        <child link='wheel_steer_to_wheel_3'/>
        <origin xyz='0 0 0' rpy='0 0 0'/>
    </joint>

    <joint name='wheel_steer_to_wheel_joint_4' type='fixed'>
        <parent link='wheel_steer_4'/>
        <child link='wheel_steer_to_wheel_4'/>
        <origin xyz='0 0 0' rpy='0 0 0'/>
    </joint>
    
</robot>